<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Clima Do Vitor Ghazi </title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Clima</h1>
			<a href="/buscarPrev/cidade/1">carregar online- Sao Paulossss</a> ||
			<a href="/buscarPrev/cidade/2">carregar online- Rio de Janeiro</a> ||
			<a href="/buscarPrev/cidade/3">carregar online- Osasco</a> ||
			<a href="/buscarPrev/cidade/4">carregar online- Arraial do Cabo</a>
		</div>
		<hr>
		<div class="panel-heading">
			<h1 class="panel-title">Localizacao</h1>
			<a href="/buscarPrev/localizacao/-23.5/-46.6">Sao Paulossss</a> ||
			<a href="/buscarPrev/localizacao/-1.5/-2.6">Rio de Janeiro</a> ||
			<a href="/buscarPrev/localizacao/-10.5/-20.6">Osasco</a> ||
			<a href="/buscarPrev/localizacao/-20.5/-40.6">Arraial do Cabo</a>
		</div>
		<hr>
		<div class="panel-heading">
			<h1 class="panel-title">Nome</h1>
			<a href="/buscarPrev/nome/Sao Paulo">Sao Paulo</a> ||
			<a href="/buscarPrev/nome/Rio de Janeiro">Rio de Janeiro</a> ||
			<a href="/buscarPrev/nome/Osasco">Osasco</a> ||
			<a href="/buscarPrev/nome/Arraial do Cabo">Arraial do Cabo</a>
		</div>
		<hr>
		<div class="panel-heading">
			<h1 class="panel-title">Nome(Ignorando Maiusculo)</h1>
			<a href="/buscarPrev/letra/sao Paulo">Sao Paulo</a> ||
			<a href="/buscarPrev/letra/rio de Janeiro">Rio de Janeiro</a>||
			<a href="/buscarPrev/letra/osasco">Osasco</a> ||
			<a href="/buscarPrev/letra/arraial do Cabo">Arraial do Cabo</a>			
		</div>
		
		<!-- 
			Executar de forma assíncrona:
				1. Buscar cidade por latitude e longitude.
				2. Buscar cidade pelo seu nome.
				3. Buscar cidades pelo seu nome, ignorando letras maiúsculas. 
		-->

		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Cidade</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidade : ${cidades}">
						<td th:text="${cidade.nome}"></td>
						<td th:text="${cidade.latitude}"></td>
						<td th:text="${cidade.longitude}"></td>
						<table class="table">
							<thead>
								<tr>
									<th>Semana</th>
									<th>Data</th>
									<th>Mínima</th>
									<th>Máxima</th>
									<th>Umidade</th>
									<th>Descrição</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="clima : ${cidade.climas}">
									<td th:text="${clima.semana.dia}"></td>
									<td th:text="${clima.dataHora}"></td>
									<td th:text="${clima.tempMin}"></td>
									<td th:text="${clima.tempMax}"></td>
									<td th:text="${clima.umidade}"></td>
									<td th:text="${clima.descricao}"></td>
									<td><img src="" th:src="${clima.icone}" /></td>
								</tr>
							</tbody>
						</table>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer>
</footer>
</body>
</html>